footer {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  gap: 5px;
  a {
    font-family: $font-family-poppins;
    font-weight: 800;
    text-decoration: none;
    color: $blue-gradient;
    span.wave:hover {
      display: inline-block;
      transform-origin: bottom center;
      animation: wave 1s linear infinite;
    }
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
